@{
    ViewBag.Title = "About";
}


    <p style=" font-size:20px; padding-left:30px; padding-top: 40px">
        Darbu izstrādāja Andrievs Jakovels: 30.07.2019
        <br>
        E-pasts: Andrievs.Jakovels@gmail.com
        <br>
        Tel. 29453189
        <br>
        Darbā izmantots Html/CSS/JS (Leaflet - bibliotēka)
    </p>
